.pet {
  width: 380px;
  height: 450px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 5px -5px 15px 0px rgba(14, 13, 14, 0.5);
  box-sizing: border-box;
}

img {
  border-radius: 25%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin: 0;
}

h2,
p {
  margin: 8px;
  padding: 8px;
  text-align: center; /* Centre le texte : sinon par défaut, le texte s'aligne à gauche*/
}
p {
  flex: 1; /* Permet au paragraphe de s'étendre pour utiliser l'espace disponible */
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
}

button {
  align-self: flex-end;
  order: 2;
}
.unlike {
  color: red;
  border-radius: 25%;
  border: 0.05rem solid gray;
  padding-top: 0.3rem;
  cursor: pointer;
}
.like {
  border-radius: 25%;
  border: 0.05rem solid gray;
  padding-top: 0.3rem;
  cursor: pointer;
}

.more-info {
  order: 1;
  align-self: center;
  border-radius: 25px;
  border: none;
  background-color: rgba(40, 32, 85, 0.9);
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 8px;
  margin: 5px 0;
  cursor: pointer;
}
